<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>110456386165-4nmp937a1aukl07jde6ae2qsmc67ulb2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.110456386165-4nmp937a1aukl07jde6ae2qsmc67ulb2</string>
	<key>API_KEY</key>
	<string>AIzaSyD984z9PprTZAG3TmXbrEOePSo-cfNU9hI</string>
	<key>GCM_SENDER_ID</key>
	<string>110456386165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.digiscript.brtbus</string>
	<key>PROJECT_ID</key>
	<string>brt-buses</string>
	<key>STORAGE_BUCKET</key>
	<string>brt-buses.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110456386165:ios:ced367d7d8df8ebfde7e3c</string>
	<key>DATABASE_URL</key>
	<string>https://brt-buses.firebaseio.com</string>
</dict>
</plist>